*{
    margin: 0;
    padding: 0;
    /* border: 0; */
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
min-height: 100vh;
width: 100%;
/* border: 2px solid red; */
background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../assets/network_bg_poster.jpg);
background-position: center;
background-size: cover;
position: relative;
margin: 0; }

.head {
text-align: center;
margin: 50px;
color: white;
font-weight: 500;
font-size: 26px;
}

.box {
display: flex;
flex-direction: column; 
justify-content: center;
align-items: center;
position: relative;
width: 380px;
height: 420px;
background: #1c1c1c;
border-radius: 8px;
overflow: hidden;
margin: auto; 


}




.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;width: 380px;
    height: 420px;
    background:linear-gradient(0deg,transparent,transparent,#45f3ff,#45f3ff,#45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;width: 380px;
    height: 420px;
    background:linear-gradient(0deg,transparent,transparent,#45f3ff,#45f3ff,#45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;

}
.borderline{
    position: absolute;
    top: 0;inset: 0;
}
.borderline::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;width: 380px;
    height: 420px;
    background:linear-gradient(0deg,transparent,transparent,#ff2770,#ff2770,#ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;

}
.borderline::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;width: 380px;
    height: 420px;
    background:linear-gradient(0deg,transparent,transparent,#ff2770,#ff2770,#ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;

}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.box form {
    position: absolute;
    inset: 4px;
    background-color: #222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.box form h2 {
    color: white;
    letter-spacing: 0.1em;
    font-weight: 500;
    text-align: center;
}

.box form .inputbox {
    position: relative;
    width: 300px;
    margin-top: 35px;

}

.box form .inputbox input {

    position: relative;
    width: 100%;
    padding: 20px 10px 10px;

    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: .5s;
    z-index: 10;
}

.box form .inputbox span {
    position: absolute;
    left: 0;

    padding: 20px 0 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;

}
.box form .inputbox input:valid~span,
.box form .inputbox input:focus~span{
    color:white;
    font-size: 0.75em;
    transform: translateY(-34px);
}
.box form .inputbox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;

}
.box form .inputbox input:valid~i,
.box form .inputbox input:focus~i{

height: 44px;

}
.box form .links{
    display: flex;
    justify-content: space-between;
}
.box form .links a{
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-align: none;
}

.box form .links a:hover,
.box form .links a:nth-child(2){

color: white;


}
.box form .inputbox input[type="submit"]{
    border: none;
    outline: none;
    padding: 9px 25px;
    background-color: white;
    cursor: pointer;
    font-size:0.9em ;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
    
}
.box form .inputbox input[type="submit"]:active{
    opacity: 0.8;
}


.navbar {
    height: 100vh;
    width: 200px;
    background-color: #001540;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}


.navbar a {
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: 5px 0;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #555;
}

.navbar a.active {
    background-color: #777;
}


.content {
    margin-left: 220px;
    padding: 16px;
    background-color: #f1f1f1;
    height: 100vh;
}

.status-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 17px;
    background-color: #001540;
    color: white;
    min-height: 6vh;
    border-radius: 18px;
    
}

.user-info {
    display: flex;
    align-items: center;
}
.user-info span{
    font-size: 18px;
}

.user-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #777;
    margin-right: 8px;
}

.user-icon i {
    margin-left: 8px;
    margin-top: 6px;
}

.scan-button {
    margin: 50px;
    margin-left: auto;
    padding: 10px;
    background-color: #001540;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 24px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.scan-list {
    margin-top: 30px;
    list-style: none;
    padding: 20px 20px;
    border: 1px solid #001540;
    border-radius: 8px ;
}

.scan-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
}

.start-scan {
    display: none;
}

.start-scan + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    margin-bottom: 20px;
}

.start-scan + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 15px;
    border: 2px solid #4CAF50;
    background-color: white;
    border-radius: 50%;
    transition: background-color 0.3s;
    background-color: #4CAF50;
}

.start {
    margin-left: auto;
    margin-right: 10px;
}

.scan-item.active {
    background-color: #4285f4;
    color: white;
}


.report-box-container {
    margin-top: 10px;
}

.report-box {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.report-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin-bottom: 10px;
}

.raw-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.raw-view ul {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 3;
}

.raw-view button {
    padding: 5px 10px;
    background-color: #4285f4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
}
