<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SCAN1PAGE</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/d0072052fe.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="navbar">
        <a href="#" class="active">Options</a>
        <a href="#">Reports</a>
        <a href="#">Exports</a>
        <a href="#">Configs</a>
    </div>

    <div class="content">
        <div class="status-bar">
            <div class="user-info">
                <div class="user-icon"><i class="fa-solid fa-user"></i></div>
                <span>Welcome, User</span>
            </div>
            <span onclick="logout()">Log Out</span>
        </div>

        <div class="scan-list">
            <div class="scan-item">
                <span>Scan 1</span>
                <span class="start">Completed</span>
                <input type="radio" id="scan1" class="start-scan">
                <label for="scan1"></label>
            </div>

            <div class="report-box-container">
                <div class="report-box">
                    <div class="report-heading">
                        <span>Report</span>
                        <span>View Raw</span>
                    </div>
                    <div class="line"></div>
                    <div class="raw-view">
                        <ul>
                            <li>One </li>
                            <li>Two </li>
                            <li>Three </li>
                        </ul>
                        <ul>
                            <li><button onclick="redirectToPage('button1.html')">1</button></li>
                            <li><button onclick="redirectToPage('button2.html')">2</button></li>
                            <li><button onclick="redirectToPage('button3.html')">3</button></li>
                        </ul>

                    </div>
                </div>
            </div>


        </div>
    </div>

    <script>
        function logout() {

            window.location.href = 'index.html';
        }

        function redirectToPage(page) {
            window.location.href = page;
        }
    </script>
</body>

</html>
