<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="head">
        <h1>Netscan Application</h1>
    </div>

    <div class="box">

        <span class="borderline"></span>
        <form onsubmit="return redirectToNewPage()">
            <h2>Log in</h2>
            <div class="inputbox">
                <input type="text" required="required">
                <span>Username</span>
                <i></i>
            </div>

            <div class="inputbox">
                <input type="password" required="required">
                <span>Password</span>
                <i></i>
            </div>

            <div class="links">
                <a href="# ">Forgot password</a>
                <a href="# ">Signup</a>

            </div>
            <input type="submit" value="login">
        </form>
    </div>
    <script>
        function redirectToNewPage() {
            window.location.href = "/dashboard";
            return false;
        }
    </script>
</body>

</html>
